@page "/person/create"
@inject IPeopleRepository peopleRepository
@inject NavigationManager navigationManager
<h3>CreatePerson</h3>

<PersonForm Person="Person" OnValidSubmit="Create"></PersonForm>

@code {
    Person Person = new Person();

    public async Task Create()
    {
        try
        {
            await peopleRepository.CreatePerson(Person);
            navigationManager.NavigateTo("people");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw;
        }
    }

}
