@page "/person/edit/{PersonId:int}"
@inject IPeopleRepository peopleRepository
@inject NavigationManager navigationManager
<h3>EditPerson</h3>

@if (Person != null)
{
    <PersonForm Person="Person" OnValidSubmit="Edit" />
}


@code {
    [Parameter] public int PersonId { get; set; }

    Person Person;

    protected override async Task OnInitializedAsync()
    {
        Person = await peopleRepository.GetPersonById(PersonId);
    }

    private async Task Edit()
    {
        await peopleRepository.UpdatePerson(Person);
        navigationManager.NavigateTo("people");
    }
}
