@page "/people"
@inject IPeopleRepository peopleRepository
<h3>IndexPeople</h3>
<div class="form-group">
    <a class="btn btn-info" href="person/create">New Person</a>
</div>

<GenericList List="People">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in People)
            {
                <tr>
                    <td><a class="btn btn-success">Edit</a>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                    <td>@item.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>
@code {
    List<Person> People;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            People = await peopleRepository.GetPeople();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw;
        }
    }
}
