@page "/genre/create"
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager


<h3>CreateGenre</h3>

<GenreForm Genre="genre" OnValidSubmit="Create"/>

@code {
    private Genre genre = new Genre();

    private async Task Create()
    {
        try
        {
            await genreRepository.CreateGenre(genre);
            navigationManager.NavigateTo("genres");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw;
        }
    }
}
