@inherits LayoutComponentBase

<div style="background-image:none;background-color:#513B56;" class="page my-bg">
    <div style="background-image:none;background-color:#7E3F8F" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div  style="background-image:none;background-color:#513B56" class="top-row px-4">
           
        </div>

        <div class="content px-4" style="margin-bottom: 20px;">
            @Body
        </div>
    </div>
</div>

